{% extends "basicmessage.html" %}
{% block messageStatusBlock %}
    {{ super() }}
<iframe src="https://calendar.google.com/calendar/embed?showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;mode=WEEK&amp;height=850&amp;wkst=2&amp;hl=en&amp;bgcolor=%23FFFFFF&amp;src=1i17bbtmtmejm2p4cu3qe6ml30%40group.calendar.google.com&amp;color=%23875509&amp;src=3np5t5t7vn6pudj8vc0r6ic2gg%40group.calendar.google.com&amp;color=%23711616&amp;src=mqbcvav91mm616lf690cfiiknk%40group.calendar.google.com&amp;color=%23333333&amp;ctz=America%2FLos_Angeles" style="border-width:0" width="750" height="850" frameborder="0" scrolling="no"></iframe>

{% endblock %}
