<html>
<head>
  <title>edit - doorpy - cTurtle98</title>
</head>
<body>
  <h1> cTurtle98 DoorPy Editor </h1>
  <h4>Add a card</h4>
  <form>
    Card Number:
    <input type= "text" name="cardnum">
    <fieldset>
      Message A:
      <select name="message_a">
        {% for key in messagekeys %}
        <option value="{{ key }}">{{ key }}</option>
        {% endfor %}
      </select>
      Message B:
      <select name="message_b">
        {% for key in messagekeys %}
        <option value="{{ key }}">{{ key }}</option>
        {% endfor %}
      </select>
    </fieldset>
  </form>
</body>
</html>
