<html>
<head>
  <title>edit - doorpy - cTurtle98</title>
</head>
<body>
  <h1> cTurtle98 DoorPy Editor </h1>
  <div id="cards-list">
    <table>
      <tr>
        <th>Card Number</th>
        <th>Message A</th>
        <th>Message B</th>
      </tr>
      {% for card in cards %}
      <tr>
        <td>{{ card }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <div id="edit-card">
    <a href="#edit-card"><h4>Edit a card: </h4></a>
    <form action="/edit" method="post">
      <fieldset>
      Card Number:
        <input type= "text" name="cardnum" maxlength="50" list="cards">
        <datalist id="cards">
          {% for key in cardkeys %}
          <option value="{{ key }}"></option>
          {% endfor %}
        </datalist>
          Message A:
          <select name="message_a">
            {% for key in messagekeys %}
            <option value="{{ key }}">{{ key }}</option>
            {% endfor %}
          </select>
          Message B:
          <select name="message_b">
            {% for key in messagekeys %}
            <option value="{{ key }}">{{ key }}</option>
            {% endfor %}
          </select>
        <input type="submit" value="Submit">
      </fieldset>
   </form>
  </div>
</body>
</html>
