<html>
<head>
  <title>edit - doorpy - cTurtle98</title>
  <style>
    /* -- tables -- */
  table {
      border-top: 0px solid white;
      border: .5px solid gray;
      border-collapse: collapse;
  }
  th {
      border-bottom: 2px solid black;
  }
  td {
      border: 1px solid black;
      padding: 4px;
  }
  </style>
</head>
  
<body>
  
  <h1> cTurtle98 DoorPy <a href="/edit">Editor</a> </h1>
  
  <div id="reload">
    <table action="/reload" method="post">
      <input type="submit" value="Git Pull and reload json dicts">
    </table>
  </div>
  
  <div id="card-list">
    <a href="#card-list"><h4>Cards List: </h4></a>
    <table>
      <tr>
        <th>Card Number</th>
        <th>Nickname</th>
        <th>Message A</th>
        <th>Message B</th>
      </tr>
      {% for key in cardsdict.keys() %}
      <tr>
        <td>{{ key }}</td>
        <td>{{ cardsdict[key]['nickname'] }}</td>
        <td>{{ cardsdict[key]['A'] }}</td>
        <td>{{ cardsdict[key]['B'] }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  
  <br>
  
  <div id="edit-card">
    <a href="#edit-card"><h4>Edit a card: </h4></a>
    <form action="/editcard" method="post">
      <fieldset>
      Card Number:
        <input type= "text" name="cardnum" maxlength="50" list="cards" required>
        <datalist id="cards">
          {% for key in cardsdict.keys() %}
          <option value="{{ key }}"></option>
          {% endfor %}
        </datalist>
        <br>
          Message A:
          <select name="message_a">
            {% for key in messagesdict.keys() %}
            <option value="{{ key }}">{{ key }}</option>
            {% endfor %}
          </select>
          Message B:
          <select name="message_b">
            {% for key in messagesdict.keys() %}
            <option value="{{ key }}">{{ key }}</option>
            {% endfor %}
          </select>
        <br>
        <input type="submit" value="Submit">
      </fieldset>
   </form>
  </div>
  
  <br>
  <br>
  
  <div id="message-list">
    <a href="#message-list"><h4>Messages List: </h4></a>
    <table>
      <tr>
        <th>Name</th>
        <th>template</th>
        <th>messageType</th>
        <th>messageSubject</th>
        <th>messageStatus</th>
      </tr>
      {% for key in messagesdict.keys() %}
      <tr>
        <td>{{ key }}</td>
        <td>{{ messagesdict[key]["template"] }}</td>
        <td>{{ messagesdict[key]["messageType"] }}</td>
        <td>{{ messagesdict[key]["messageSubject"] }}</td>
        <td>{{ messagesdict[key]["messageStatus"] }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  
  <br>
  
  <div id="edit-message">
    <a href="#edit-message"><h4>Edit a message: </h4></a>
    <form action="/editmessage" method="post">
      <fieldset>
        Name:
        <input type= "text" name="messageName" maxlength="50" list="messages" autocomplete="off" required>
        <datalist id="messages">
          {% for key in messagesdict.keys() %}
          <option value="{{ key }}"></option>
          {% endfor %}
        </datalist>
        Template:
        <select name="messageTemplate">
          {% for template in templateList %}
          <option value="{{ template }}">{{ template }}</option>
          {% endfor %}
        </select>
        messageType:
        <select name="messageType">
          <option value="home">home</option>
          <option value="away">away</option>
          <option value="do-not-disturb">do-not-disturb</option>
        </select>
        <br>
        messageSubject:
        <input type="text" name="messageSubject" autocomplete="off">
        messageStatus:
        <textarea name="messageStatus" rows="1" cols="20"></textarea>
        <br>
        <input type="submit" value="Submit">
      </fieldset>
    </form>
    
  </div>
</body>
</html>
