{#
doorpy - raspberry pi message board for your door
Copyright (C) 2020  Ciaran Farley (ciaran@cturtle98.com)

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.

--------

door.jinja2
template for the page displayed on the door

 #}

<html>
  <head>
    <title>{{ template }} - doorsign python - cTurtle98</title>
    <style>
       body {
              margin: 0;
       }
       iframe {
               overflow: hidden;
       }
	#main {
		{# replace with resolution of your monitor (vertical) #}
		height: 1366px;
		width: 768px;
		background-color: black;
		text-align: center;
	}
	#card-submit {
    		display: none;
	}
        #header {
	        background-color: green;
	        color: yellow;
        }
        #messageSubject {
	        font-size: 60pt;
        }
        #MessageStatus {
        	font-size: 48pt;
        }
        .home {
        	background-color: green;
        }
        .away {
        	background-color: grey;
        }
        .do-not-disturb {
        	background-color: red;
        }
    </style>
  </head>
  <body>
    <div id="main">
		<div id="header">
		<br>
			<a style="font-size: 72pt;">
				{# your name here #}
			Ciaran's Room
			</a><br>
		<br>
		</div>
	    <form method="get">
		    <input type="text" name="card" autofocus autocomplete="off">
	    </form>
            <div id="message" class="{% block messageTypeBlock %}{% endblock %}">
			<br>
			<span id="messageSubject">
				{% block messageSubjectBlock %}{% endblock %}
			</span>
			<br><br>
			<span id="messageStatus">
				{% block messageStatusBlock %}{% endblock %}
			</span>
			<br>
			<br>
		</div>
            </div>
  </body>
</html>
