{# doorpy by Ciaran Farley #}
{# https://github.com/cTurtle98/doorpy #}
{# this is the base message template for messages with no extra code needed #}

{% extends "pages/base.j2" %}
{% block messageTypeBlock %}
{{ messageType }}
{% endblock %}
{% block messageSubjectBlock %}
{{ messageSubject }}
{% endblock %}
{% block messageStatusBlock %}
{{ messageStatus }}
{% endblock %}
