{# doorpy by Ciaran Farley #}
{# https://github.com/cTurtle98/doorpy #}

{% extends "basemessage.jinja2" %}
{% block messageStatusBlock %}	
    {{ super() }}
    {# insert custom additional html here #}

 {% endblock %}
